* {
  margin: 00px;
  padding: 00px;
  box-sizing: content-box;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6ebe0;
  flex-direction: row;
  flex-flow: wrap;
  box-shadow: 0 5px 5px 5px #e1e1e1;
}

.font {
  height: 375px;
  width: 250px;
  position: relative;
  border-radius: 10px;
}

.top {
  height: 30%;
  width: 100%;
  background-color: #8338ec;
  position: relative;
  z-index: 5;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bottom {
  height: 70%;
  width: 100%;
  background-color: white;
  position: absolute;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.top img {
  height: 100px;
  width: 100px;
  border: 5px solid #e1e1e1;
  border-radius: 10px;
  position: absolute;
  top: 60px;
  left: 75px;
}
.bottom p {
  position: relative;
  top: 60px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  text-emphasis: spacing;
}
table,
table tr td {
  width: 210px;
  margin-left: 27px;
  margin-top: 80px;

  text-align: left;
}
